
@{
    ViewBag.Title = "VerUsuarios";
    var data = (List<SigloXXI.Data.Users>)ViewData["Usuarios"];
}

<h2>Ver Usuarios</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Fecha de nacimiendo</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in data)
        {
        <tr>
            <td>@usuario.Nombre</td>
            <td>@usuario.Apellido</td>
            <td>@usuario.Correo</td>
            <td>@usuario.UserName</td>
            <td>@usuario.rol</td>
            <td>@usuario.FechaNacimiento.ToShortDateString()</td>

        </tr>
        }
    </tbody>
</table>