
@{
    ViewBag.Title = "VerMesasDisponibles";
    var data = (List<SigloXXI.Data.Mesas>)ViewData["Mesas"];
}

<h2>Ver Mesas Disponibles</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Numero</th>
            <th>Capacidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mesa in data)
        {
            <tr>
                <td>@mesa.Id</td>
                <td>@mesa.Numero</td>
                <td>@mesa.Capacidad</td>
                <td>
                    @Html.ActionLink(" ", "EditarMesa", "Mesas",
                       new { rut = mesa.Id }, new { @class = "far fa-edit" })
                    @Html.ActionLink(" ", "EliminarMesa", "Mesas",
                       new { rut = mesa.Id }, new { @class = "far fa-trash-alt" })
                </td>
            </tr>
        }
    </tbody>
</table>
