
@{
    ViewBag.Title = "VerMesasDisponibles";
    var data = (List<SigloXXI.Data.Mesas>)ViewData["Mesas"];
}

<h2>Ver Mesas Disponibles</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Estado</th>
            <th>Capacidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mesa in data)
        {
            <tr class="@(mesa.estado == SigloXXI.Data.EstadoMesa.Ocupada ? "table-warning" : "table-success")">
                <td>@mesa.numero</td>
                <td>@(mesa.estado == SigloXXI.Data.EstadoMesa.Ocupada ? "Ocupada" : "Disponible")</td>
                <td>@mesa.capacidad</td>
                <td>
                    @if (mesa.estado == SigloXXI.Data.EstadoMesa.Ocupada)
                    {
                        @Html.ActionLink(" ", "CambiarEstadoMesa", "Mesas",
                            new { id = mesa.id }, new { @class = "fas fa-toggle-off" })
                    }
                    @if (mesa.estado == SigloXXI.Data.EstadoMesa.Disponible)
                    {
                        @Html.ActionLink(" ", "CambiarEstadoMesa", "Mesas",
                            new { id = mesa.id }, new { @class = "fas fa-toggle-on" })
                    }
                    @Html.ActionLink(" ", "EditarMesa", "Mesas",
                       new { id = mesa.id }, new { @class = "far fa-edit" })
                    @Html.ActionLink(" ", "EliminarMesa", "Mesas",
                       new { id = mesa.id }, new { @class = "far fa-trash-alt" })
                </td>
            </tr>
        }
    </tbody>
</table>
