@model SigloXXI.Models.ClienteModel

@{
    ViewBag.Title = "AgregarCliente";
}
<link href="~/Content/css/administrador.css" rel="stylesheet" />
<div class="container" style="background-color: white; border: solid 1px black; border-radius: 3px; opacity: 0.8; margin-top: 4%;">
    <h2>Agregar Cliente</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="formulario">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.LabelFor(model => model.Rut, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Rut, new
                    {
                        @class = "form-control",
                        @type = "number",
                        @placeholder = "Ingrese el rut del cliente sin digito verificador",
                        @title = "Rut del cliente sin digito verificador",
                        @required = true,
                        @maxlength = 8
                    })
                    @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Dv, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Dv, new
                    {
                        @class = "form-control",
                        @type = "text",
                        @placeholder = "Ingrese el digito verificador del cliente",
                        @title = "Digito verificador del cliente",
                        @required = true,
                        @maxlength = 1
                    })
                    @Html.ValidationMessageFor(model => model.Dv, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Nombre, new
                    {
                        @class = "form-control",
                        @type = "text",
                        @placeholder = "Ingrese nombre del cliente",
                        @title = "Digito verificador del cliente",
                        @required = true
                    })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Apellido, new
                    {
                        @class = "form-control",
                        @type = "text",
                        @placeholder = "Ingrese apellido del cliente",
                        @title = "Ingrese apellido del cliente",
                        @required = true
                    })
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Correo, new
                    {
                        @class = "form-control",
                        @type = "email",
                        @placeholder = "Ingrese el correo del cliente",
                        @title = "Ingrese el correo del cliente",
                        @required = true
                    })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Telefono, new
                    {
                        @class = "form-control",
                        @type = "number",
                        @placeholder = "Ingrese el telefono del cliente",
                        @title = "Ingrese el telefono del cliente",
                        @required = true,
                        @maxlength = 9
                    })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>


