
@{
    ViewBag.Title = "VerClientes";
    var data = (List<SigloXXI.Data.Clientes>)ViewData["Clientes"];
}

<h2>Ver Clientes</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in data)
        {
            <tr>
                <td>@cliente.Rut-@cliente.Dv</td>
                <td>@cliente.Nombre @cliente.Apellido</td>
                <td>@cliente.Correo</td>
                <td>@cliente.Telefono</td>
                <td>
                    @Html.ActionLink(" ", "EditarClientes", "Cliente",
                       new { rut = cliente.Rut }, new { @class = "far fa-edit" })
                    @Html.ActionLink(" ", "EliminarClientes", "Cliente",
                       new { rut = cliente.Rut }, new { @class = "far fa-trash-alt" })
                </td>
            </tr>
        }
    </tbody>
</table>

