
@{
    ViewBag.Title = "VerOrdenes";
    var data = (List<SigloXXI.Data.OrdenHeader>)ViewData["Ordenes"];
}

<h2>Ver Ordenes</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Codigo pedido</th>
            <th>Numero Doc</th>
            <th>Estado</th>
            <th>Nº Mesa</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var orden in data)
        {
            <tr class="@(orden.estado == SigloXXI.Data.EstadoOrden.NoPagado? "table-warning" : "table-success")">
                <td>@orden.id</td>
                <td>@orden.documentoId</td>
                <td>@(orden.estado == SigloXXI.Data.EstadoOrden.NoPagado ? "No Pagado" : "Pagado")</td>
                <td>@orden.mesaId.numero</td>
                <td>@orden.total</td>
                <td>
                    @Html.ActionLink(" ", "VerDetalles", "Orden",
                       new { id = orden.id }, new { @class = "far fa-list-alt" })
                    @if (orden.estado == SigloXXI.Data.EstadoOrden.NoPagado)
                    {
                        @Html.ActionLink(" ", "PagarOrden", "Orden",
                       new { id = orden.id }, new { @class = "fa fa-check" })
                    }
                    @Html.ActionLink(" ", "EditarOrden", "Orden",
                       new { id = orden.id }, new { @class = "far fa-edit" })
                    @Html.ActionLink(" ", "EliminarOrden", "Orden",
                       new { id = orden.id }, new { @class = "far fa-trash-alt" })
                </td>
            </tr>
        }
    </tbody>
</table>
