@model SigloXXI.Models.ProductoModel

@{
    ViewBag.Title = "EditarProductos";
}
<link href="~/Content/css/administrador.css" rel="stylesheet" />
<div class="container" style="background-color: white; border: solid 1px black; border-radius: 3px; opacity: 0.8;  margin-top: 4%;">
    <h2>Editar Productos</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Id, new
                   {
                       @class = "form-control",
                       @type = "number",
                       @placeholder = "Codigo del producto",
                       @title = "Codigo del producto",
                       @readonly = true
                   })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Nombre, new
                    {
                        @class = "form-control",
                        @type = "text",
                        @placeholder = "Nombre del producto",
                        @title = "Nombre del producto",
                    })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Descripcion, new
                   {
                       @class = "form-control",
                       @type = "text",
                       @placeholder = "Descripcion del producto",
                       @title = "Descripcion del producto",
                   })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Cantidad, new
                   {
                       @class = "form-control",
                       @type = "number",
                       @placeholder = "Cantidad en stock del producto",
                       @title = "Cantidad en stock del producto",
                   })
                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Precio, new
                   {
                       @class = "form-control",
                       @type = "number",
                       @placeholder = "Precio del producto unitario",
                       @title = "Precio del producto unitario",
                   })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Categoria, new
                   {
                       @class = "form-control",
                       @type = "text",
                       @placeholder = "Categoria del producto",
                       @title = "Categoria del producto",
                   })
                    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>