
@{
    ViewBag.Title = "VerProductos";
    var data = (List<SigloXXI.Data.Productos>)ViewData["Productos"];
}
<link href="~/Content/css/administrador.css" rel="stylesheet" />
<div class="container" style="margin-top: 2%;">
    <h2>Ver Productos</h2>
    <table class="table table-bordered" style="background-color: white; opacity: 80%;">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var producto in data)
            {
                <tr>
                    <td>@producto.id</td>
                    <td>@producto.nombre</td>
                    <td>@producto.descripcion</td>
                    <td>@producto.cantidad</td>
                    <td>@producto.precio</td>
                    <td>@producto.categoria</td>
                    <td>
                        @Html.ActionLink(" ", "EditarProductos", "Producto",
                           new { id = producto.id }, new { @class = "glyphicon glyphicon-edit" })
                        @Html.ActionLink(" ", "EliminarProductos", "Producto",
                           new { id = producto.id }, new { @class = "glyphicon glyphicon-remove" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>