<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Siglo XXI</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/516b14468d.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    @*@if (Session["Rol"].ToString() == "1")*@

                    @if (Session["Rol"].ToString() == "1")
                    {
                        <!-- Clientes -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Clientes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Agregar Cliente", "AgregarCliente", "Cliente", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Ver Clientes", "VerClientes", "Cliente", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1")
                    {
                        <!-- Productos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Productos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Ingresar producto", "AgregarProductos", "Producto", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Lista de productos", "VerProductos", "Producto", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1" || Session["Rol"].ToString() == "3")
                    {
                        <!-- Proveedores -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Proveedores
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Ingresar proveedor", "AgregarProveedores", "Proveedor", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Lista de proveedores", "VerProveedores", "Proveedor", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1" || Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "6")
                    {
                        <!-- Caja -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Caja
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Registrar pago", "VerOrdenesSinPago", "Caja", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1" || Session["Rol"].ToString() == "3")
                    {
                        <!-- Platillos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Platillos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Ingresar Platillos", "AgregarPlatillo", "Platillo", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Ver de Platillos", "VerPlatillos", "Platillo", new { area = "" }, new { @class = "dropdown-item" })

                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "6")
                    {
                        <!-- Pedidos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pedidos prov.
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Ingresar Pedidos", "AgregarPedido", "Pedido", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Lista de Pedido", "VerPedidos", "Pedido", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1" || Session["Rol"].ToString() == "4" || Session["Rol"].ToString() == "5")
                    {
                        <!-- Ordenes -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ordenes Clien.
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Ingresar Orden", "AgregarOrden", "Orden", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Lista de Ordenes", "VerOrdenes", "Orden", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1")
                    {
                        <!-- Mesas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mesas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Agregar mesas", "AgregarMesa", "Mesas", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Ver mesas", "VerMesasDisponibles", "Mesas", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1")
                    {
                        <!-- Usuarios -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Agregar Usuario", "AgregarUsuario", "Usuario", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Ver usuarios", "VerUsuarios", "Usuario", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1")
                    {
                        <!-- Mesas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Rerservas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Agregar reserva", "AgregarReserva", "Reserva", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Ver reservas", "VerReservas", "Reserva", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    @if (Session["Rol"].ToString() == "1" || Session["Rol"].ToString() == "2")
                    {
                        <!-- Reportes -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reportes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Flujo de caja", " ", " ", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Doc. Emitidos", " ", " ", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Flujo de productos", " ", " ", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    @if (string.IsNullOrEmpty(Session["Rol"].ToString()))
                    {
                        @Html.ActionLink("Iniciar sesion", "Login", "Login",
                        new { area = "" }, new { @class = "btn btn-outline-primary my-2 my-sm-0" })
                    }
                    else
                    {
                        @Html.ActionLink("Cerrar sesion", "Logout", "Login",
                        new { area = "" }, new { @class = "btn btn-outline-primary my-2 my-sm-0" })
                    }

                </form>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        @DateTime.Now.Year
    </footer>
</body>
</html>